.container{
    width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.createPostForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.createFormInput{
    border: 1px solid black;
}
#postsList{
 display: flex;
 flex-direction: column;
 gap: 25px;
}
.comments-list{
    padding: 20px;
    list-style: disc;
}
.comments{
    display: none;
}
.visible{
    display: block;
}
.post{
    border: 1px solid black;
    width: 600px;
    padding: 10px;
    position: relative;
}
.clickbtn-del{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
}
.clickbtn-red{
    position: absolute;
    top: 5px;
    right: 40px;
    width: 25px;
    height: 25px;
}
.post-head-wrap{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 12px;
}
button{
    background-color: skyblue;
}
.comment-input{
    border: 1px solid black;
}